extends layout

block variables
    - var this_tool = "BIGSI"

block settings
    form
        .row
            .col
                +dataSelection("Target/s")(name="files" type="table")
        .row
            .col
                +input("Query")(name="query-seq" type="text" placeholder="Sequence..." required=true caption=">= Kmer Size")
        .row
            .col-sm-6
                +select("Kmer Size")(name="kmer-size" options=[3,5,7,9,11,13,15,17,19,21,23,25,27,29,31] default=31)
            .col-sm-6
                +input("m")(name="m" type="number" placeholder=1000 default=1000)
        .row
            .col-sm-6
                +input("h")(name="h" type="number" placeholder=1 default=1)
            .col-sm-6
                +select("Output")(name="output" options=["json", "tsv"] default="json")