extends layout

block variables
    - var this_tool = "BIGSI"

block settings
    form
        .row
            .form-group.col
                label Target/s
                +dataSelection("table")(name="files")
        .row
            .col
                +input("Query")(name="query-seq" type="text" placeholder="Sequence..." required=true)
        .row
            .col-sm-6
                +input("Kmer Size")(name="kmer-size" type="number" placeholder=6 default=6)
            .col-sm-6
                +input("m")(name="m" type="number" placeholder=1000 default=1000)
        .row
            .col-sm-6
                +input("h")(name="h" type="number" placeholder=1 default=1)