extends layout

block variables
    - var tool_name = 'BIGSI';
    - var tool_func = 'bigsi';

block settings
    form
        .row
            .form-group.col-sm-6
                label(for="kmer-size") Kmer Size
                input.form-control(name="kmer-size" type="number" placeholder=3 data-default=3)
            .form-group.col-sm-6
                label(for="m") m
                input.form-control(name="m" type="number" placeholder=1000 data-default=1000)
        .row
            .form-group.col-sm-6
                label(for="h") h
                input.form-control(name="h" type="number" placeholder=1 data-default=1)
            .form-group.col-sm-6
                label(for="query-seq") Query Sequence
                input.form-control(name="query-seq" type="text" placeholder="Required" data-default='' required)