extends layout

block variables
    - var this_tool = "Bloom Filter"

block settings
    form
        .row
            .col
                +dataSelection("Compare")(name="file" type="select")
        .row
            .col-sm-6
                +input("Kmer Size")(name="kmer-size" type="number" placeholder=6 default=6)
            .col-sm-6
                +input("Kmers per Block")(name="block-size" type="number" placeholder=50 default=50)
        .row
            .col-sm-6
                +input("Bloom Filter Size (bits)")(name="filter-size" type="number" placeholder=50000 default=50000)
            .col-sm-6
                +select("Bloom Filter Hash Functions")(name="hash-functions" options=[1,2,3,4,5] default=5)
        .row
            .col-sm-6
                +input("Hamming Bit Threshold")(name="kmer-threshold" placeholder=50 default=50)