extends layout

block variables
    - var this_tool = "Bloom Filter"

block settings
    form
        .row
            .col
                +dataSelection("Compare")(name="file" type="select")
        .row
            .col-sm-6
                +input("Kmer Size")(name="kmer-size" type="number" placeholder=6 default=6)
            .col-sm-6
                +input("Kmers per Block")(name="block-size" type="number" placeholder=50 default=50)
        .row
            .col-sm-6
                +input("Bloom Filter Size (bits)")(name="filter-size" type="number" placeholder=50000 default=50000)
            .col-sm-6
                label(for="hash-functions") Bloom Filter Hash Functions
                select.setting.form-control(name="hash-functions" default=5)
                    option 1
                    option 2
                    option 3
                    option 4
                    option(selected) 5
        .row
            .col-sm-6
                +input("Hamming Bit Threshold")(name="kmer-threshold" placeholder=50 default=50)