extends layout

block variables
    - var this_tool = "Bloom Filter"

block settings
    form
        .row
            .form-group.col-sm-6
                label(for="kmer-size") Kmer Size
                input.form-control(name="kmer-size" type="number" placeholder=6 data-default=6)
            .form-group.col-sm-6
                label(for="block-size") Kmers per Block
                input.form-control(name="block-size" type="number" placeholder=50 data-default=50)
        .row
            .form-group.col-sm-6
                label(for="filter-size") Bloom Filter Size (bits)
                input.form-control(name="filter-size" type="number" placeholder=50000 data-default=50000)
            .form-group.col-sm-6
                label(for="hash-functions") Bloom Filter Hash Functions
                select.form-control(name="hash-functions" data-default=5)
                    option 1
                    option 2
                    option 3
                    option 4
                    option(selected) 5
        .row
            .form-group.col-sm-6
                label(for="compare-kmers") Compare Kmer Blocks
                select.form-control(name="compare-kmers" data-default=1)
                    option(value=1 selected) Yes
                    option(value=0) No
            .form-group.col-sm-6
                label(for="kmer_threshold") Kmer Threshold
                input.form-control(name="kmer-threshold" placeholder=50 data-default=50)