block variables

.card(id=tool_func)
    button.btn.card-header(data-toggle='collapse' data-target=`.card[id='${tool_func}'] > .collapse`)
        .float-left #{tool_name}
    .collapse
        .card-body
            block settings
            button.btn.btn-primary.float-right.mb-3(onclick=`runTool("${tool_func}")`) Run