extends layout

block variables
    - var this_tool = "MMseqs2"

block settings
    form
        .row
            .col
                +dataSelection("Query")(name="query" type="select")
        .row
            .col
                +dataSelection("Target")(name="target" type="select")
        .row
            .col.mb-3
                +checkbox("Pairwise Alignments")(name="pairwise")