.card#selectedData
    .card-body.p-0
        table.table.table-sm.table-responsive
            tbody

.card#dataBrowser
    .card-header#breadcrumbs.bg-white
    .card-body.p-0
        table.table.table-sm.table-hover.table-responsive
            tbody
    .card-footer
        | [SELECTED FILES]