.card#selectedData.mb-3
    .card-body.p-0
        table.table.table-sm.table-responsive.mb-0
            .noDataNotif No Data Selected
            tbody

h5 Browse Server

.card#dataBrowser
    .card-header#breadcrumbs.bg-white.small
    .card-body.p-0
        table.table.table-sm.table-hover.table-responsive.mb-0
            tbody