.modal#modal(tabindex="-1" role="dialog")
	.modal-dialog(role="document")
		.modal-content
			.modal-header
				h5.modal-title PLACEHOLDER
				button.close(type="button" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
			.modal-body
				p PLACEHOLDER
			.modal-footer
				button.btn.btn-secondary(type="button" data-dismiss="modal") PLACEHOLDER
				button.btn.btn-primary(type="button" data-dismiss="modal") PLACEHOLDER