#navbar.navbar.navbar-expand.navbar-light.bg-white
    .container
        a.navbar-brand(href="/")
            h1.my-1 Qbio
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportContent" aria-controls="navbarSupportContent" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
        
        .collapse.navbar-collapse#navbarSupportContent
            ul.navbar-nav.ml-auto.text-uppercase
                li.nav-item.px-2.text-center
                    a.btn.btn-primary(href="/newjob") New Job
                li.nav-item.px-2.text-center
                    a.btn.btn-secondary(href="/jobs") View Jobs