.card
    .card-body
        .row.align-items-center
            .col-3
                h1.mb-0 Qbio
            .col-9
                form.float-right.mb-0#uploadform
                    .form-row.align-items-center
                        input.form-control-file.mr-1(type='file')
                        button.btn.btn-primary(type="submit") Upload