.card
    .card-body
        .row.align-items-center.mb-3
            .col-3
                h1.mb-0 Qbio
            .col-9
                form.float-right.mb-0#uploadform(method="POST" action="/uploadfile" encType="multipart/form-data")
                    .form-row.align-items-center
                        input.form-control-file.mr-1(type='file' name='file')
                        button.btn.btn-primary(type='submit') Upload
        .row
            table#dataTable.table.table-sm.table-hover.mb-0
                thead
                    tr
                        th(scope='col') #
                        th(scope='col') Filename
                        th(scope='col') Size (mb)
                tbody#dataTableBody