extends layout

block content
    .container
        .row.justify-content-center
            .col-md-8
                h1 Qbio
                hr
                p Welcome to the unified bioinformatic toolset platform.
                .row
                    .col-6
                        a(href="/newjob")
                            button.w-100.btn.btn-primary New Job
                    .col-6
                        a(href="/jobs")
                            button.w-100.btn.btn-disabled View Jobs