extends layout

block content
    .container
        .row.justify-content-center
            .col-md-8.text-center
                h4.my-3 Welcome to the unified bioinformatic toolset platform.
                p We currently support the following tools: [...]
                .row
                    .col-6
                        a(href="/newjob")
                            button.w-100.btn.btn-primary New Job
                    .col-6
                        a(href="/jobs")
                            button.w-100.btn.btn-disabled View Jobs