extends layout

block scripts
    script(src="/js/jobs.js")

block content
    .container
        h2 Jobs
        .card
            .card-body
                .row
                    .col
                        table#jobTable.table.table-sm.table-hover