extends layout

block variables
    - var title = "Qbio | Jobs"

block scripts
    script(src="/js/jobs.js")

block content
    .container
        h2 Jobs
        .card
            .card-body
                #loader.text-center
                    i.fa.fa-2x.fa-spinner.fa-spin
                #noJobsNotif.text-center(style="margin:5px 0;display:none;") There are currently no past or present Jobs.
                table#jobTable.table.table-sm.table-hover.mb-0
                    thead.font-weight-bold
                        tr
                            td #
                            td Created At
                            td Tool
                            td Datafiles/s
                            td Finished At
                            td Result
                    tbody