#navbar.navbar.navbar-expand-md.navbar-light
    .container
        a.navbar-brand(href="/")
            h1 Qbio
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportContent" aria-controls="navbarSupportContent" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
        
        .collapse.navbar-collapse#navbarSupportContent
            ul.navbar-nav.ml-auto.text-uppercase
                li.nav-item.px-2
                    a.nav-link(href="/newjob") New Job
                li.nav-item.px-2
                    a.nav-link(href="/jobs") View Jobs