extends layout

block content
    .container
        .row.mb-3
            .col
                h2 New Job
                p 1. Select your data...
                include includes/datatable.pug
        .row
            .col
                p 2. Select and configure your tool...
                include tools/bloom-filter.pug