extends layout

block scripts
    script(src="/js/new-job.js")

block content
    .container
        h2 New Job
        .row
            .col
                p 1. Select your data...
                include includes/databrowser.pug
            .col
                p 2. Select and configure your tool...
                include tools/bigsi.pug
                include tools/bloom-filter.pug