extends layout

block scripts
    script(src="https://cdn.plot.ly/plotly-latest.min.js")
    script(src="/js/visualize.js")

block content
    .container-fluid
        h1.row.col Visualize
        .row
            #jobs.col-md-3
            #vis.col-md-9
                div