button:hover {
    cursor: pointer;
}

.clear-left {
    clear: left !important;
}

table.dataTable {
    border-collapse: collapse !important;
}
    table.dataTable tbody tr:hover {
        cursor: pointer;
    }

#job-page .tab-pane {
    white-space: pre-wrap;
    font-family: monospace;
    overflow-x: auto;
}