button:hover {
    cursor: pointer;
}

.clear-left {
    clear: left !important;
}

table.dataTable {
    border-collapse: collapse !important;
}
    table.dataTable tbody tr:hover {
        cursor: pointer;
    }

#job-page .tab-pane {
    white-space: pre-wrap;
    font-family: monospace;
    overflow: auto;
    max-height: 550px;
}

.tool-card .fa {
    transition: .3s transform ease-in-out;
}
.tool-card .collapsed .fa {
    transform: rotate(-90deg);
}

#dataBrowser tbody td:first-child {
    width: 50px;
}
#dataBrowser crumb {
    padding: 0px 10px;
}
#dataBrowser crumb:not(:last-child) {
    color: #1967D2;
}
#dataBrowser crumb:not(:last-child):hover {
    text-decoration: underline;
    cursor: pointer;
}
#dataBrowser crumb:last-child {
    color: black;
}
#dataBrowser crumb:last-child {
    color: black;
}